.ButtonList {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 14px;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}
