.ProfileLink {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 10px;
  height: 40px;
  width: auto;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  &:hover {
    color: var(--orange-color);
  }
}

.login {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 4px;
  font-size: 14px;
  svg {
    color: var(--text-color);
    position: relative;
    transition: 0.3s;
    transform: rotate(180deg);
  }
  &:hover {
    svg {
      color: var(--green-color);
    }
  }
}
