.ProfileLink {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 10px;
  height: 40px;
  width: auto;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  &:hover {
    color: var(--orange-color);
  }
}

.Name {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  pointer-events: none;
  user-select: none;
  i {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    font-family: var(--light);
    white-space: nowrap; /* Запрещает перенос строк */
    overflow: hidden; /* Скрывает переполненный текст */
    text-overflow: ellipsis; /* Добавляет троеточие в конце */
    max-width: 120px;
    &:last-child {
      font-size: 14px;
      font-family: var(--regular);
      line-height: 1.2;
    }
  }
}
