.PageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex: 1;
  h1 {
    font-size: 80px;
    font-family: var(--light);
    color: var(--green-color);
  }
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 14px;
  max-width: 300px;
  margin: auto;
  h1 {
    letter-spacing: -2px;
    svg {
      position: relative;
      left: 6px;
      top: 7px;
      opacity: 1;
      margin-right: 6px;
    }
  }

  button {
    margin-top: 14px;
  }
}
