.Header {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  background: var(--white-color);
  z-index: 10;
  > div {
    display: flex;
    width: calc(100% - 40px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid var(--text-color);
  }
}
