:root {
  --background: #f0f0f0;
  --white-color: #fff;
  --black-color: #000000;
  --text-color: #171717;
  --grey-color: #8b8b8b;
  --hr-color: #d6d6d6;
  --grey-light-color: #eee;
  --orange-color: #f1a635;
  --yellow-color: #f1a635;
  --green-color: #1b945a;
  --blue-color: #0f4ead;
  --invalid-color: #ff0505;
  --error-color: #d32727;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  &.locked {
    overflow-y: hidden;
  }
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
menu {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  margin: 20px 0px;
  background: var(--hr-color);
}

#__next {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@import './popup';
