.Preloader {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  &:before,
  &:after,
  span {
    width: 10px;
    height: 10px;
    background: #fc142c;
    border-radius: 20px;
    animation: moveUpDown 0.6s ease-in-out infinite 0.2s;
  }
  &:before {
    content: '';
    background: #292b2d;
    animation: moveUpDown 0.6s ease-in-out infinite 0s;
  }
  &:after {
    content: '';
    background: #fcd92c;
    animation: moveUpDown 0.6s ease-in-out infinite 0.3s;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
