.Title {
  font-weight: bold;
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.1;
  font-size: 30px;
  white-space: pre-line;
}

.H1 {
  font-size: 48px;
  letter-spacing: -0.2px;
  line-height: 1;
}
.H2 {
  font-size: 35px;
}
.H3 {
  font-size: 42px;
}
.H4 {
  font-size: 36px;
}
.H5 {
  font-size: 26px;
}
.H6 {
  font-size: 20px;
}
