.GoBack {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: var(--text-color);
  color: var(--white-color);
  svg {
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
  }
}

.LinkButton {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: var(--text-color);
  color: var(--white-color);
  svg {
    position: absolute;
    pointer-events: none;
  }
}
